DATABASE_URL="file:./dev.db"
ADMIN_SECRET="replace-with-a-long-random-secret-at-least-32-chars"
ADMIN_PASSWORD="Demo@12345"
NEXT_PUBLIC_CLINIC_NAME="Honnani GI Surgery"
NEXT_PUBLIC_DOCTOR_NAME="Dr. Sharath S. Honnani"
